.signup-container{

    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    /* instagram image ko or konsa bhi images ko center me lane ke kiye text-align:center krte he */
    text-align: center;
    flex-direction: column;
}

.signup-card{

    width: 22rem;
    height: 25rem;
    border: 1px solid #ccc;
    padding: 1rem;

}
.bottom-card{
    width: 22rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-top: 1rem;
}

.tnc{
    width: 19rem;
    /* height: 28rem; */
    /* padding: 1rem; */
    margin-top: 0rem;
    color: rgb(0, 0, 0);
    /* font-weight: 200; */
    text-align: center;
}

