.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding-left: 1rem;
    padding-right: 1rem;
}


.navIcon{

    margin: 0.5rem;
    color: black;
 
}
.navIcon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.feed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-button{

    width: 15rem;
    margin-top: 1rem;

}



@media screen and (max-width:500px) {
    .navIcon{

        display: none;

    }

    
}











